.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.clock-container {
  position: relative;
  display: inline-block;
}

/* Position numbers around the clock face */
.clock-numbers {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: "none";
}

.clock {
  font-size: 2rem;
  color: #333;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .mode-button,
  .check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #464ec0;
    border-radius: 5px;
    box-shadow: 4px 4px 3px #7e7979;
    transition: all 0.1s ease-in-out;

    &:active {
      transform: translateY(2px);
    }
  }

  .active-mode {
    background-color: #464ec0;
    color: white;
  }
}

.input-container {
  padding: 0 20px;
}

.feedback {
  padding: 15px;
  font-size: 1.2rem;
  color: #007b00;
  font-weight: bold;
}

.react-clock__minute-hand__body {
  background-color: blue;
}

.react-clock__hour-hand__body {
  background-color: red;
}

input {
  margin: 10px;
  padding: 8px;
  font-size: 1rem;
  width: 100px;
}
